	table {
    width: 100%; /* Ширина таблицы */
    background: rgb(148, 0, 211); /* Цвет фона таблицы */
    color: rgb(148, 0, 211); /* Цвет текста */
    border-spacing: 1px; /* Расстояние между ячейками */
   }
   th {  
    background: rgb(148, 0, 211); /* Цвет фона ячеек */
	color: #FFF0F5;
    padding: 5px; /* Поля вокруг текста */
   }
   td {
    background: white; /* Цвет фона ячеек */
	color: rgb(148, 0, 211);
    padding: 5px; /* Поля вокруг текста */
   }
.rovnyak{
	/*margin: auto 10% auto;*/
	padding-left:18%;  
	padding-right:18%;
}
.rovnyak1{
	display: flex;
  align-items: center;
  justify-content: center
	/*padding-left:20%;*/  
	/*padding-right:20%;*/  
}
   
   figure1 {
border: 1px solid rgb(148, 0, 211); /* рамка */
float:left;
background-color: white; /* цвет фона */
padding: 3px; /* отступы от картинки */
width: 15%; /* ширина картинки */
}
.ssl1{
    max-width: 100%;
    max-height: 100%;
    
}
figcaption {
background-color: white;
	text-align: center;
    color: rgb(148, 0, 211);
}
figure {
border: 1px solid rgb(148, 0, 211); /* рамка */
float:left;
background-color: white; /* цвет фона */
padding: 3px; /* отступы от картинки */
width: 15%; /* ширина картинки */
}

.obome-foto{
    border-radius: 10px;
    max-width: 117%;
    max-height: 157%;
    object-fit: cover;
}
.foto
{   
    position: absolute;
    left: 3%;
    top: 23%;
    width: 40%;
    height: 30%;
    border-radius: 10px;
}
.foto1
{   
    /*position: right-side;*/
    right:0%;
    top: 20%;
    width: 40%;
    height: 30%;
    border-radius: 40px;
	padding-bottom: 1%;
}
.obome-foto1{
    border-radius: 10px;
    max-width: 65%;
    max-height: 65%;
    object-fit: cover;
}
.obome-foto2{
    border-radius: 10px;
    max-width: 117%;
    max-height: 117%;
    object-fit: cover;
}
.foto2
{   
    position: absolute;
    right:30%;
    top: 20%;
    width: 40%;
    
    border-radius: 40px;
}
.obome-foto2{
    border-radius: 10px;
    max-width: 65%;
    max-height: 65%;
   
}
.ssl{
    max-width: 100%;
    max-height: 100%;
    
}
.ssl2{
    max-width: 810px;
    max-height: 1080px;
}
.background{
	background-color: #a0a0a0;
}
