.span1{
display: block;
text-align: right;
float: right
}
.span2{
display: block;
text-align: left;
float: left
}
#footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 0; /* Поля вокруг текста */
    background: #a0a0a0; /* Цвет фона */
    color: white; /* Цвет текста */
    width: 99%; /* Ширина слоя */
   }
.big{
    font: 100% Courier New, monospace;
   }
.text{
    position: absolute;
    right: 10px;
    top: 23%;
    width: 63%;
    max-width: 60%;
    max-height: 100%;
    background-color: #a0a0a0;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    text-align: left;
    color: rgb(0, 0, 0);
	font: 100% Courier New, monospace;
}
.text1{
    background-color: white;
	text-align: center;
    color: rgb(148, 0, 211);
	font: 100% Courier New, monospace;
}
.zagolovok{
    margin-top: 0px;
    margin: 0;
    margin-bottom: 0px;
	padding-bottom: 1%;
    font-weight: 300;
    font-size: 43px;
    vertical-align: text-top;
    text-align: center;
    color: rgb(0, 0, 0);
}
.zagolovok1{
    margin-top: 0px;
    margin: 0;
    margin-bottom: 0px;
    font-weight: 15;
    font-size: 23px;
	padding-top: 1%;
	padding-bottom: 1%;
    vertical-align: text-top;
    text-align: center;
    color: rgb(0, 0, 0);
}